<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.benben.thefirstlineofcode_benben">

    <!--联系人读取权限-->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <!--短息的权限-->
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <!--发送短信-->
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <!--SD卡写入数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--位置信息的权限-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />



    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--弹出对话框-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>


    <!--百度地图所需权限-->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!---百度地图所需权限-->


    <application
        android:allowBackup="true"
        android:icon="@mipmap/benben"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!--百度地图-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="8xHNz6c5Wsvo2ynRugMfFMPogwRfGPmg"/>
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

            <!--广播机制-->
        <activity android:name=".ui.activity.radio.RadioActive"></activity>
        <activity android:name=".ui.activity.radio.RadioFirstActivity"></activity>
        
        <!--活动-->
        <activity android:name=".ui.activity.activity.activityActivity"></activity>
        <activity android:name=".ui.activity.activity.intent"></activity>
        <activity android:name=".ui.activity.activity.ReceiveActivity"></activity>

        <!--储存-->
        <activity android:name=".ui.activity.storage.StorageActivity"></activity>
        <!--文件的储存-->
        <activity android:name=".ui.activity.storage.FileActivity"></activity>
        <!--sharedPreferences-->
        <activity android:name=".ui.activity.storage.SharedActivity"></activity>
        <!--SQLite-->
        <activity android:name=".ui.activity.storage.MySQLiteActivity"></activity>


        <!--内容提供者-->
        <activity android:name=".ui.activity.content.ContentActivity"></activity>
        <!--读取联系人-->
        <activity android:name=".ui.activity.content.ContentsTestActivity"></activity>
        <!--读取别个程序的数据-->
        <activity android:name=".ui.activity.content.ProviderTestActivity"></activity>


        <!--多媒体-->
        <activity android:name=".ui.activity.much.MediaActivity"></activity>
        <!--通知-->
        <activity android:name=".ui.activity.much.InformActivity"></activity>
        <!--短息-->
        <activity android:name=".ui.activity.much.SMSActivity"></activity>
        <!--照相机-->
        <activity android:name=".ui.activity.much.CameraActivity"></activity>
        <!--音乐播放器-->
        <!--视频播放器-->
        <activity android:name=".ui.activity.much.PlayMoveActivity"></activity>



        <!--服务-->
        <activity android:name=".ui.activity.service.MyServiceActivity"></activity>
        <!--在子线程中更新UI-->
        <activity android:name=".ui.activity.service.MoreThreadActivity"></activity>



        <!--网络-->
        <activity android:name=".ui.activity.network.MyNetWorkActivity"></activity>
        <!--WebView-->
        <activity android:name=".ui.activity.network.WebViewActivity"></activity>
        <!--HttpURLConnection-->
        <activity android:name=".ui.activity.network.HttpURLActivity"></activity>


        <!--位置服务-->
        <activity android:name=".ui.activity.location.LocationActivity"></activity>
        <!--百度地图-->
        <activity android:name=".ui.activity.location.MyLocationBasedServiceActivity"></activity>
        <!--百度定位-->
        <activity android:name=".ui.activity.location.MyPositioningActivity"></activity>
        <activity android:name=".ui.activity.location.MyBaiduMap"></activity>
        <!--路线-->
        <activity android:name=".ui.activity.location.MapPathActivity"></activity>
        <!--路线2-->
        <activity android:name=".ui.activity.location.MapPathActivity2"></activity>
        <!--poi搜索功能-->
        <activity android:name=".ui.activity.location.PoiSearchActivity"></activity>


        <!--传感器-->
        <activity android:name=".ui.activity.sensor.TheSensorActivity"></activity>
        <!--光线传感器-->
        <activity android:name=".ui.activity.sensor.BeamActivity"></activity>
        <!--方向传感器-->
        <activity android:name=".ui.activity.sensor.DirectionActivity">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <!--指南针-->
        <!--加速度传感器-->
        <activity android:name=".ui.activity.sensor.AccelerationActivity"></activity>




        <!--百度的demo-->
        <activity android:name=".ui.activity.baidumap.BaiDuMapDemoActivity"></activity>
        <!--演示MapView的基本用法-->
        <activity
            android:name=".ui.activity.baidumap.BaseMapDemo"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/demo_name_basemap"
            android:screenOrientation="portrait" >
        </activity>
        <!--<activity-->
        <!--android:name=".FragmentTableActivity"-->
        <!--android:configChanges="orientation|keyboardHidden"-->
        <!--android:label="@string/demo_name_basemap"-->
        <!--android:screenOrientation="portrait" >-->
        <!--</activity>-->
        <activity
            android:name=".ui.activity.baidumap.MapFragmentDemo"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/demo_name_map_fragment"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.baidumap.MultiMapViewDemo"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/demo_name_multimap"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.baidumap.GeometryDemo"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/demo_name_geometry"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.baidumap.RadarDemo"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/demo_name_radar"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.baidumap.FavoriteDemo"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/demo_name_favorite"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.baidumap.LocationDemo"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/demo_name_location"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.baidumap.MapControlDemo"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/demo_name_control"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.baidumap.UISettingDemo"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/demo_name_ui"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.baidumap.LayersDemo"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/demo_name_layers"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.baidumap.OverlayDemo"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/demo_name_overlay"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.baidumap.OfflineDemo"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/demo_name_offline"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.baidumap.PoiSearchDemo"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/demo_name_poi"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.baidumap.RoutePlanDemo"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/demo_name_route"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.baidumap.GeoCoderDemo"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/demo_name_geocode"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.baidumap.BusLineSearchDemo"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/demo_name_bus"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.baidumap.HeatMapDemo"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/demo_name_heatmap"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.baidumap.ShareDemo"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/demo_name_share"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.baidumap.ShareDemoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/demo_name_share"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.baidumap.OpenBaiduMap"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/demo_name_open_baidumap"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.baidumap.CloudSearchActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/demo_name_cloud"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.baidumap.CloudSearchDemo"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_cloud_search_demo"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.baidumap.OpenglDemo"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/demo_name_opengl"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.baidumap.TextureMapViewDemo"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/demo_desc_texturemapview">
        </activity>
        <activity
            android:name=".ui.activity.baidumap.TileOverlayDemo"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/demo_name_tileoverlay"
            android:screenOrientation="portrait" >
        </activity>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>

        <activity
            android:name=".ui.activity.baidumap.MarkerClusterDemo"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_marker_cluster_demo"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".ui.activity.baidumap.DistrictSearchDemo"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/demo_name_districsearch"
            android:screenOrientation="portrait">
        </activity>


        <!--注册服务-->
        <service android:name=".service.MyService"></service>
        <service android:name=".service.MyIntentService"></service>
        <service android:name=".service.LongRunningService"></service>

        <!--广播-->
        <receiver android:name=".service.AlarmReceiver"></receiver>
        <!--定位用的服务-->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
        </service>

        <!--注册广播-->
        <receiver android:name=".receiver.BootCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.MyBroadcastReceiver">
            <intent-filter

                android:priority="100">
                <action android:name="com.example.benben.firstline.MY_BROASCAST"/>
            </intent-filter>
        </receiver>
        <!--登录界面的强制退出-->
        <receiver android:name=".receiver.ForceOfflineReceiver">
            <intent-filter>
                <action android:name="com.example.benben.firstline.FORCE_OFFLINE"/>
            </intent-filter>
        </receiver>




        <!--右边-->
        <!--聊天-->
        <activity android:name=".ui.activity.chat.ChatActivity"></activity>
        <!--登录页面-->
        <activity android:name=".ui.activity.login.LoginActivity"></activity>
        <activity android:name=".ui.activity.login.QuitActivity"></activity>
        <!--获取内存-->
        <activity android:name=".ui.activity.SDCard.GetStorageActivity"></activity>

    </application>

</manifest>